(CAMmill-Configuration)
(cfg:View-Zoom: 1)
(cfg:View-Helplines: 1)
(cfg:View-ShowGrid: 1)
(cfg:View-ShowTool: 1)
(cfg:View-Textures: 0)
(cfg:View-Rotate-X: -25.000000)
(cfg:View-Rotate-Y: 0.000000)
(cfg:View-Rotate-Z: 2.400000)
(cfg:View-Translate-X: 57)
(cfg:View-Translate-Y: 62)
(cfg:View-Grid-Size: 10.000000)
(cfg:View-Arrow-Scale: 1.000000)
(cfg:Tool-Select: 0)
(cfg:Tool-Number: 1)
(cfg:Tool-Diameter: 3.175)
(cfg:Tool-Speed: 18000)
(cfg:Tool-Coolant: 0)
(cfg:Tool-Keep spinning: 1)
(cfg:Milling-FeedRate: 2500)
(cfg:Milling-PlungeRate: 500)
(cfg:Milling-Depth: -12.200000)
(cfg:Milling-Z-Step: -6.200000)
(cfg:Milling-Safe-Move: 4.000000)
(cfg:Milling-Overcut: 0)
(cfg:Milling-Lasermode: 0)
(cfg:Milling-Climb: 0)
(cfg:Milling-NoOffsets: 0)
(cfg:Milling-Helix: 0)
(cfg:Milling-Rough/Fine: 0)
(cfg:Milling-Rough-Offset: 0.000000)
(cfg:Milling-Velocity-Mode: 1)
(cfg:Milling-Blending Tolerance: 0.050000)
(cfg:Milling-Offset: 1)
(cfg:Pockets-Pocket: 0)
(cfg:Pockets-Pocket-Stepover: 80)
(cfg:Pockets-Island: 1)
(cfg:Holding-Tabs-Activate: 0)
(cfg:Holding-Tabs-Show Grid: 1)
(cfg:Holding-Tabs-Depth: -6.000000)
(cfg:Holding-Tabs-Length: 10.000000)
(cfg:Holding-Tabs-Triangle-Type: 1)
(cfg:Holding-Tabs-On Open: 0)
(cfg:Holding-Tabs-On Inside: 1)
(cfg:Holding-Tabs-On Outside: 1)
(cfg:Holding-Tabs-X-Grid: 200.000000)
(cfg:Holding-Tabs-Y-Grid: 200.000000)
(cfg:Text-Mill Text: 0)
(cfg:Text-Mill-Depth: -0.500000)
(cfg:Text-Fixed-W: 1)
(cfg:Text-Scale-W: 1.000000)
(cfg:Text-Scale-H: 1.000000)
(cfg:Text-Font: 0)
(cfg:Text-Overwrite: 0)
(cfg:Text-Tool-Number: 1)
(cfg:Text-Tool-Diameter: 3.175)
(cfg:Text-Tool-Speed: 18000)
(cfg:Machine-Fastmove-Speed: 1000)
(cfg:Machine-Spindle-Delay: 1.000000)
(cfg:Machine-Max Toolspeed: 24000)
(cfg:Machine-Fast-Z: 1.000000)
(cfg:Machine-Post: 2)

(cfg:Machine-Post-Command: )
(cfg:Calculation-Tool-Flutes: 2)
(cfg:Calculation-Select: 1)
(cfg:Calculation-Cutting Speed: 150)
(cfg:Calculation-Feed/Tooth@<4mm: 0.040000)
(cfg:Calculation-Feed/Tooth@<8mm: 0.050000)
(cfg:Calculation-Feed/Tooth@<12mm: 0.100000)
(cfg:Calculation-CalcSpeed: 7519)
(cfg:Calculation-CalcFeedRate: 751)
(cfg:Calculation-Use calculated rates: 0)
(cfg:Rotary-Activate: 0)
(cfg:Rotary-Axis: 0)
(cfg:Rotary-Diameter: 100.000000)
(cfg:Tangencial-Activate: 0)
(cfg:Tangencial-Axis: 1)
(cfg:Tangencial-MaxAngle: 10.000000)
(cfg:Window-X-Position: 7)
(cfg:Window-Y-Position: 0)
(cfg:Window-Width: 3829)
(cfg:Window-Height: 2037)
(cfg:Window-Maximized: 0)
(cfg:Bitmap-Scale: 1.000000)
(cfg:Bitmap-R: 10)
(cfg:Bitmap-G: 10)
(cfg:Bitmap-B: 10)
(cfg:Misc-Unit on Load: 2)
(cfg:Misc-Unit: 1)
(cfg:Misc-Scale: 1.000000)
(cfg:Misc-Tolerance: 0.001000)
(cfg:Misc-Tool-Table: )
(cfg:Misc-Setup-Autosave: 1)
(xxx:Misc-Batchmode: 1)
(cfg:Misc-LoadPath: out)
(cfg:Misc-SavePath: gcode)
(cfg:Misc-PresetPath: )
(cfg:Misc-Delete Double Lines: 1)
(cfg:Misc-Order: 0)
(cfg:Misc-Zero: 1)
(cfg:Misc-Zero-Offset-X: 0.000000)
(cfg:Misc-Zero-Offset-Y: 0.000000)
(cfg:Misc-Append Config: 1)
(cfg:Misc-Texture: metal)
(cfg:Misc-NC-Debug: 0)
(cfg:Misc-DXF-Debug: 0)

( Requires patched cammill )

(cfg:Machine-PostName: EMC)

( Chain to next. )

(cfg:Misc-DXF-File: $InputName)
(cfg:Misc-Output-File: $OutputName)
